/* Google fons */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
body{
    font-family: 'Fira Mono', monospace;
    margin-left: 80px;
    margin-right: 80px; 
}

/* first section  */
.top-section{
    display: flex;
    background-color: rgb(34, 33, 33);
    color: white;
    margin-top: 50px;
    border-radius: 20px;
    width: 1160px;
    height: 646px;
    margin-bottom: 50px;

}
.top-section h1{
    font-size: 3rem;
    
}
.top-title{
    width: 50%;
    padding-left: 100px;
}
.top-title button{
    font-weight: 800;
    background-color: #fa4747;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border-color: aliceblue;

}
.top-image{
    width: 50%;
}
.top-image img{
    height: 646px;
    width: 461px;
    top: 83px;
}
/* article section  */
.saidbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    /* padding: 25px; */
    background-color: rgb(34, 33, 33);
    height: 300px;
    width: 250px;
    border-radius: 20px;
}
.saidbar button{
    font-weight: 800;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border-color: aliceblue;
    margin-top: 20px;
}
#blog-btn{
    background-color: #fa4747;
}
/* news section  */
.article{
    display: flex;
}
.news-letter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:75px;
}
.news{
    height: 362px;
    width: 240px;
}
.news img{
    height: 175px;
    width: 250px;
}
/* footer section*/
footer{
    /* height: 150px; */
    background-color: rgb(34, 33, 33);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    
}
footer a{
    text-decoration: none;
    color: white;
    padding-left: 30px;
   
}

/* media queries */
@media only screen and (max-width:687px) {
    body{
        padding: 0;
        margin: 0;
        
    }
    .top-section{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .top-image img{
        margin-top: 10px;
        width: 285px;
        height: 300px;
        padding-left: 20%;
        /* transform: scale(-1, 1); */
    }
    .article, .news-letter{
        width:auto;
        margin: 0px;
        padding: 0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .saidbar{
        margin: 0px;
        padding: 0px; 
        width: 100%; 
        background-color: #E8E8E8; 
    }
    footer p{
        display: flex;
        flex-direction: column;
    }
    footer p a{
        margin-top: 20px;
    }


}
@media only screen and (min-width:688px)and (max-width:991px){
    body{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .top-section{
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .top-image img{
        width: 100%;
        height: auto;
    }

    .article{
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }
    .saidbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px; 
        width: 100%; 
        height: auto;
        background-color: #E8E8E8; 
        margin-bottom: 10px;
    }
    .news-letter{
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding-left: 5%;
    }
    footer p{
        display: flex;
        flex-wrap: wrap;
    }
    footer p a{
        margin-top: 20px;
    }

}